<div class="articles">
  <div class="article-sizer"></div>
  {{#each articles}}
  {{> article}}
  {{/each}}
</div>

<script>
  $(document).ready(() => {
    $('.articles').masonry({
      itemSelector: '.article',
      columnWidth: '.article-sizer',
      percentPosition: true
    });
  });
</script>