<div class="grid">
  <div class="grid-sizer"></div>
  {{#each articles}}
  {{> article}}
  {{/each}}
</div>

<script>
  $('.grid').masonry({
    // options
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
</script>