@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif:700");

body {
  padding-top: 58px;
  font-family: "PT Sans Caption", sans-serif;
}

h3 {
  font-family: "PT Serif", serif;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.article-sizer,
.article {
  padding: 20px;
  width: 100%;
}

.article-header {
  position: relative;
  padding: 0px 20px;
}

.article-header .favorite-toggler {
  color: red;
  font-size: 20px;
  position: absolute;
  line-height: 20px;
  top: 0px;
  right: 0px;
  padding: 0px;
}

.article .article-publish-date {
  font-size: 0.9em;
  font-weight: normal;
}

.article img {
  transition: all 0.2s ease-in-out;
}

.article img:hover {
  box-shadow: 0 18px 32px -18px #000;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.article .article-title {
  font-size: 1.2125rem;
  margin-bottom: 15px;
}

.article .article-title a {
  color: #000;
}

.article .article-title a:hover {
  text-decoration: none;
}

.article .article-title small a {
  color: #007bff;
  text-decoration: underline !important;
}

.article .article-title small {
  display: block;
}

.article .article-summary {
  font-size: 0.9em;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .article-sizer,
  .article {
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .article-sizer,
  .article {
    width: 33.33%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .article-sizer,
  .article {
    width: 33.33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .article-sizer,
  .article {
    width: 25%;
  }
}
